$content-width: 31.475rem;
$grey-100: hsl(220, 25%, 96%);
$grey-300: hsl(220, 25%, 75%);
$grey-500: hsl(220, 25%, 50%);
$grey-700: hsl(220, 25%, 25%);
$grey-900: hsl(220, 25%, 6%);
$primary-100: hsl(220, 90%, 96%);
$primary-300: hsl(220, 90%, 75%);
$primary-500: hsl(220, 90%, 50%);
$primary-700: hsl(220, 90%, 25%);
$primary-900: hsl(220, 90%, 6%);
$accent1-100: hsl(260, 90%, 96%);
$accent1-300: hsl(260, 90%, 75%);
$accent1-500: hsl(260, 90%, 50%);
$accent1-700: hsl(260, 90%, 25%);
$accent1-900: hsl(260, 90%, 6%);
$spacing: 1.5rem;
$smaller: .75rem;
$small: .9rem;
$medium: 1.333rem;
$large: 1.777rem;
$larger: 2.369rem;
$largest: 3.157rem;
$huge: 4.209rem;